.papa {
    display: flex;
    flex: 1;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.new-pass-cont {
    display: flex;
    flex-direction: column; 
    position: relative;
    width: 100%;
    margin-bottom: auto;
}

.new-pass-title-cont {
    display: flex;
    align-items: center;
    width: calc(100% + 40px);
    margin-left: -20px;
    color: white;
    background-color: #00a4d3;
    padding: 1.25rem;
}

@media screen and (min-width: 801px) {
    .new-pass-input-cont {
        width: 40%;
        max-width: 600px;
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .new-pass-input-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

.new-pass-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-top: 3px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    background-color: aliceblue;
    border-bottom: 5px solid lightgray;
    outline: none;
    margin-bottom: 10px;
}

.new-pass-input:focus {
    border-bottom: 5px solid #00a4d3;
}

.pr-input-label {
    font-size: 1.1rem;
}

.new-pass-submit-btn {
    background-color: #00a4d3;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 600;
    border-radius: 3px;
    outline: none;
}

.new-pass-submit-btn:disabled {
    cursor: no-drop;
    opacity: 0.5;
}


.shake-anim {
    animation:  shake 0.4s;
}
      
@keyframes shake{
    0%{
        transform: translateX(0)
    }
    25%{
        transform: translateX(10px);
    }
        
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}