.rt-rendered-item-cont {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    flex: 1;
}

.rt-rendered-item-key-cont {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
}

.rt-rendered-item-key-text {
    font-size: 1.2rem;
    color: gray;
}

.rt-rendered-item-value-text {
    font-size: 1rem;
    min-height: calc(1rem + 3px);
    color: black;
}

.rt-item-list-cont {
    width: 100%;
    border: 1px solid gray;
    flex: 1;
    overflow: auto;
}

.rt-fields-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 100px;
    flex: 1;
}

.rt-message-cont {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    flex: 1;
    height: 100%;
}

.rt-message-span {
    font-size: 1.3rem;

}