.pr-code-input-cont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pr-code-input {
    width: 15%;
    aspect-ratio: 1/1;
    margin-right: 5px;
    text-align: center;
    font-size: 2rem;
    outline: none;
    caret-color: transparent;
    border: none;
    background-color: aliceblue;
    border-bottom: 5px solid lightgray;
    border-radius: 5px;
}

.pr-code-input:focus {
    border-bottom: 5px solid #00a4d3;
}

.pr-c-infobox {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #00a4d3;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.pr-code-change-email {
    margin-left: auto;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
}

.pr-code-submit-button {
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    background-color: #00a4d3;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.pr-code-submit-button:disabled {
    cursor: no-drop;
    opacity: 0.5;
}