.pr-img {
    max-height: 150px;
}

.pr-i-title {
    font-weight: 300;
    font-size: 30px;
    margin-right: auto;
    margin-top: 20px;
}

.pr-i-infobox {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #00a4d3;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.pr-i-formbox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pr-i-i {
    margin-bottom: 10px;
}

.pr-e-input {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    border: none;
    background-color: aliceblue;
    border-bottom: 5px solid gray;
    border-radius: 3px;
}

.pr-e-input:focus {
    border-bottom: 5px solid #00a4d3;
}

.pr-submit-button {
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    background-color: #00a4d3;
    border: none;
    height: 2.25rem;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

.pr-code-go-login {
    margin-right: auto;
    color: white
}