.odd-search-bar {
    margin-left: 10px;
    padding: 2px;
    width: 30%;
    min-width: 200px;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.odd-search-bar:focus {
    outline: none;
    border-color: #3498db; 
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); 
}

.dd-rendered-keys-cont {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
}

.dd-rendered-keys-key-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    row-gap: 5px;
}

.dd-rendered-keys-top-cont {
    display: flex;
}

.dd-rendered-keys-key-text {
    margin-right: auto;
}

.dd-rendered-keys-checkbox {
    margin-left: auto;
    outline: none;
}

.dd-rendered-keys-value-text {
    outline: none;
    width: 100%;
    padding: 10px 10px 10px 5px;
    border: 1px solid gray;
}

.dd-rendered-keys-value-text:disabled {
    background-color: rgb(233, 233, 233);
}

.dd-rendered-keys-value-dropdown {
    display: flex;
}

.dd-rendered-keys-value-text-dropdown {
    outline: none;
    width: calc(100% - 3em);
    padding: 10px 10px 10px 5px;
    border: 1px solid gray;
}

.dd-custom-select {
    position: relative;
    display: inline-block;
}

.dd-select-button {
    cursor: pointer;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 0 5px 5px 0;
    background-color: white;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    font-size: 1em;
}

.dd-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    right: 0;
}


.dd-dropdown-content.show-dropdown {
    display: block;
}

.dd-dropdown-content li {
    padding: 10px;
    cursor: pointer;
    font-size: .8em;
}

.dd-dropdown-content li:hover {
    background-color: #ddd;
}

.ArrowBarDown {
    transform: rotate(90deg);
    margin-left: 5px;
}

