.odocd-embed {
    height: 100%;
    width: 100%;
}

.odocd-save-changes-button {
    background-color: #35c359;
    padding: 10px 30px 10px 30px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.od-buttons-cont {
    display: flex;
    gap: 10px;
}

.od-button {
    background-color: #3498db;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.od-button:hover {
    background-color: #2980b9;
}

.od-button-active {
    background-color: #27ae60; 
}